<!DOCTYPE html>
<html lang="ru" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Final project</title>
        <link rel="shortcut icon" href="images/favicon.png" type="image/png">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="stylesheet" href="styles/styles.min.css">
    </head>
    <body>
        {{> header }}
        {{> greeting-section }}
        {{> recent-works }}
        {{> skills }}
        {{> github }}
        {{> summary }}
        {{> footer }}
        <script type="text/javascript" src="scripts/scripts.min.js"></script>
    </body>
</html>
