<section class="summary">
    <div class="general-wrapper summary-wrapper">
        <h2 class="section-title">Сотрудничество</h2>
        <div class="summary__description">
            <p class="classic-text summary__text">So are you looking for a professional,
                communicative &&nbsp;punctual software engineer with extensive full-stack web development skills for your next project?</p>
            <p class="classic-text summary__text">If you have an application you are interested in developing with web technology, I’d love to work with you on it.
                I’m a full-stack developer which means I can bring your project from concept to completion.
                I work primarily with Django and Node.js on the back-end and Ember.js on the front-end but picking up new languages or frameworks isn’t a problem.</p>
            <a href="email" class="summary__link">artem.izosimov@yandex.ru</a>
        </div>
    </div>
</section>
