<section id="github-section" class="github">
    <div class="general-wrapper github__wrapper">
        <div class="left-side">
            <div class="github__repository-list" id="gitHubReposList">
                <img src="images/spinner.svg" alt="spinner" id="spinner" />
            </div>
        </div>
        <div class="github__headline">
            <h2 class="section-title">Git repository</h2>
            <p class="classic-text">Here’s my repository from GitHub with my projects.Here’s my repository from GitHub with my projects.Here’s my repository from GitHub with my projects.</p>
        </div>
    </div>
</section>
